.form-container .btn-delete,
.form-container .btn-submit {
  border: 2px solid #e9a3c3;
  background-color: #fff;
}

@media (max-width: 568px) {
  .product {
    text-align: center;
    width: 100%;
  }
  .discount-section h1 {
    font-size: 2.3em;
  }
  .discount-section h2 {
    font-size: 1.7;
  }
  .menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_list li {
    padding: 10px 0;
  }
  #products-list .product {
    max-width: 280px;
  }
  .footer-container p {
    font-size: 1em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #products-list .product {
    max-width: 340px;
  }
}
.form-container .btn-delete,
.form-container .btn-submit {
  border: 2px solid #e9a3c3;
  background-color: #fff;
}

body .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

input {
  border: 1px solid #e9a3c3;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #e9a3c3;
}
.header .header_container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}
.header .header_logo {
  border-radius: 50%;
  background-color: #fff;
  border: solid #ffffff 5px;
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
}

.menu_body ul {
  list-style-type: none;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu_list li {
  position: relative;
  margin: 0px 0px 0px 20px;
}

#show-cart-btn {
  background-color: transparent;
  font-size: 1.5em;
  color: #fff;
}

#products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#products-list .product {
  text-align: center;
  width: 420px;
}
#products-list .product .price {
  font-size: 1.2em;
}
#products-list img {
  max-width: 100%;
  max-height: auto;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
#products-list input {
  width: 30%;
}

#cart, .card-pay {
  max-width: 500px;
  width: 80%;
  height: auto;
  background-color: #e9a3c3;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  padding: 15px;
  margin: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#cart .btn-pay, .card-pay .btn-pay {
  padding: 10px 15px;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #e9a3c3;
}
#cart #cart-items, .card-pay #cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#cart .close-cart,
#cart .btn-close-payment, .card-pay .close-cart,
.card-pay .btn-close-payment {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.5em;
  background-color: transparent;
}
#cart #total-price, .card-pay #total-price {
  font-weight: bold;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.payment-options {
  background-color: #e9a3c3;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #262626;
}
.payment-options button {
  padding: 8px 16px;
  font-size: 1.2rem;
  background-color: #e9a3c3;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.payment-options button:disabled {
  background-color: #b5b5b5;
  cursor: not-allowed;
}
.payment-options .selector {
  margin-block: 16px;
  text-align: center;
}
.payment-options input.small {
  width: 80px;
}
.payment-options .card label,
.payment-options .invoice label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-block: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-close-payment {
  cursor: pointer;
  text-align: right;
  display: block;
}

.error {
  color: #949494;
  font-size: 1em;
}

.information-form {
  min-height: 100vh;
  margin: 20px 0;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #e9a3c3;
  border-radius: 5px;
}
.form-container button {
  padding: 5px 25px;
  margin-top: 10px;
  cursor: pointer;
}
.form-container .send-message {
  margin-top: 50px;
  background-color: #fff;
  color: #000000;
  border: 1px solid #e9a3c3;
  font-size: 1.5em;
  padding: 20px;
  display: none;
}
.form-container #discount-code {
  width: 50%;
  border: none;
}

.form-group {
  margin-bottom: 10px;
}
.form-group input {
  width: 100%;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.discount-section {
  background-image: url("assets/donuts.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #000;
}
.discount-section h1 {
  font-size: 3em;
  padding: 20px;
}
.discount-section h2 {
  position: absolute;
  top: 50%;
  font-size: 2.2em;
}

.add-to-cart {
  background-color: #e9a3c3;
  cursor: pointer;
}
.add-to-cart:hover {
  background-color: #ffffff;
}

button {
  border: 2px solid #e9a3c3;
}

.products-items button {
  background-color: #e9a3c3;
  margin: 20px 3px;
}
.products-items button:hover {
  background-color: #ffffff;
}
.products-items h3 {
  padding: 20px;
  text-align: center;
  font-size: 2em;
}
.products-items h4 {
  font-size: 1.3em;
  padding: 10px 0;
}

.btn-delete:hover,
.btn-submit:hover {
  background-color: #e9a3c3;
}

.form-group #discount-code {
  border: 1px solid #e9a3c3;
}

.cart-item-image {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.footer-container {
  background-color: #e9a3c3;
  height: 100vh;
  color: #fff;
  height: 80px;
  position: relative;
}
.footer-container p {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.checkbox-group input {
  border: 3px solid #e9a3c3;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}