@media (max-width: $mobile) {
    #products-list {
        display: flex;
        justify-content: center;
    }

    .menu_list {
        display: flex;
        align-items: center;
        li {
            padding: 10px 0;
        }
    }
}